.todo-input {
    height: 2.5rem;
    text-align: center;
    color: #484b6a;
}

.todo-input input {
    border-radius: 5px;
    border: none;
    background-color: #edf2f7;
    width: 18rem;
    height: 100%;
    margin-right: 0.5rem;
    padding: 0.5rem;
    padding-right: 0;
    font-size: 1.2rem;
}

.todo-input input:focus {
    outline: 1px solid #a17fe0;
}

.todo-input .add-btn {
    width: 4rem;
    font-weight: 400;
    font-size: 1rem;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: #9733EE;
    color: #ffff;
}

@media screen and (max-width:450px) {
    .todo-input input {
        width: 12rem;
    }

    .todo-input .add-btn {
        width: 3rem;
    }
}